/* ======= Default style =======  */
body {
    font-family: "Syne", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    color: #868a9b;
    height: 100%;
    background: #212228;
}
a {
    color: #868a9b;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:focus,
a:hover {
    color: #FFF;
    text-decoration: none;
}
p {
    font-family: "Syne", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    color: #868a9b;
}
b,
strong {
    color: #868a9b;
}
.content {
    padding: 90px 0 30px 0;
    background: transparent;
}
.js .animate-box {
    opacity: 0;
}
.mb-60 {
    margin-bottom: 60px;
}



/* ======= Preloader style ======= */
.preloader-bg,
#preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #18191d;
	z-index: 999999;
}
#preloader {
	display: table;
	table-layout: fixed;
}
#preloader-status {
	display: table-cell;
	vertical-align: middle;
}
.preloader-position {
	position: relative;
	margin: 0 auto;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.loader {
	position: relative;
	width: 60px;
	height: 60px;
	left: 50%;
	top: auto;
	margin-left: -22px;
	margin-top: 2px;
	-webkit-animation: rotate 1s infinite linear;
	-moz-animation: rotate 1s infinite linear;
	-ms-animation: rotate 1s infinite linear;
	-o-animation: rotate 1s infinite linear;
	animation: rotate 1s infinite linear;
	border: 2px solid #212228;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.loader span {
	position: absolute;
	width: 60px;
	height: 60px;
	top: -2px;
	left: -2px;
	border: 2px solid transparent;
	border-top: 2px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}



/* ======= Header style ======= */
.head {
    padding: 45px 15px;
    background: #fff;
}
.head h1 {
    position: relative;
    font-size: 40px;
    line-height: 1em;
    font-weight: 900;
    margin-bottom: 0px;
    color: #18191d;
    padding: 0;
}
.head h1 span.stroke {
    position: absolute;
    font-size: 50px;
    -webkit-text-stroke: 1px #868a9b;
    color: transparent;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
}
.head h3 {
    font-family: 'Syne', sans-serif;
    letter-spacing: 3px;
    font-size: 16px;
    line-height: 1.5em;
    color: #868a9b;
    text-align: center;
    margin: 0 0 15px 0;
    font-weight: 700;
    text-transform: uppercase;
}
.head p {
    font-family: 'Syne', sans-serif;
    font-size: 12px;
    color: #212228;
    text-align: center;
    font-weight: 700;
    margin: 15px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/* ======= Bottom style ======= */
.bottom {
    padding: 0 0 60px 0;
    text-align: center;
}
.bottom h1 {
    font-family: 'Syne', sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
    line-height: 1.5em;
    color: #868a9b;
    text-align: center;
}
.bottom p {
    font-family: 'Syne', sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    color: #868a9b;
    text-align: center;
    font-weight: 400;
    margin: 0;
}


/* ======= New style ======= */
.new-popular {
    background-color: #ff0000;
    border-radius: 80px;
    height: 55px;
    width: 55px;
    display: block;
    position: absolute;
    top: 10px;
    right: 24px;
    text-transform: uppercase;
}
.new-popular p {
    padding-top: 17px;
    color: #fff;
    font-weight: 400;
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0px;
}


/* ======= Preview style ======= */
img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: #868a9b;
}
.preview-holder {
    box-sizing: border-box;
    padding-left: 30px;
    overflow: hidden;
}
.preview-holder,
.preview-holder .preview-image-holder {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 25px;
}
.preview-holder .preview-image-holder .preview-side-info {
    bottom: 0;
    left: -7px;
    position: absolute;
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.preview-holder,
.preview-holder .preview-image-holder img:hover,
.preview-holder,
.preview-holder .preview-image-holder img:hover {
    transform: scale(0.95);
}
.preview-holder .preview-image-holder .preview-side-info .preview-name,
.preview-holder .preview-image-holder .preview-side-info .preview-position {
    display: inline-block;
}
.preview-holder .preview-position {
    font-family: 'Syne', sans-serif;
    color: #868a9b;
    margin: 0;
    padding-left: 10px;
    position: relative;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
}
ul.preview-info-social li {
   display: inline-block;
    margin: 0;
    padding: 0 5px;
}
.preview-holder .preview-info-social {
    text-align: center;
    padding: 0;
    margin: 0;
}
.preview-holder p {
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Syne', sans-serif;
    color: #868a9b;
    padding-left: 10px;
    position: relative;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
}


/* Buy now */
.duru-buy-now {
		position: fixed;
		right: 30px;
		bottom: 30px;
		z-index: 999;
	}
.duru-buy-now a {
    text-decoration: none;
}
.duru-buy-now-btn {
		display: inline-flex;
		padding: 13px 25px;
		align-items: center;
		border: none;
		border-radius: 50em;
		background: #fff;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
		font-size: 11px;
		line-height: 1.5em;
		color: #212228;
		transition: all 0.3s;
        font-weight: 700;
        letter-spacing: 0.5px;
	}
.duru-buy-now-btn:focus {
    color: #212228;
}
.duru-buy-now-btn svg {
		margin-right: 12px;
	}
.duru-buy-now-btn:hover {
		background: #18191d;
		color: #fff;
		transform: translateY(-2px);
	}
.duru-buy-now-btn:hover svg {
		fill: currentColor;
	}


/* ======= Cursor & Drag style  ======= */
.cursor {
  position: fixed;
  top: -40px;
  left: -40px;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}
.cursor:before {
  content: "";
  width: 75px;
  height: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: white;
  border: 1px solid white;
  transition: all ease 0.15s;
  transform: scale(0.15);
}
.cursor.light:before {
  transform: scale(1);
  background: transparent;
}
.cursor.drag {
  mix-blend-mode: unset;
}
.cursor.drag:before {
  transform: scale(1);
  background: #18191d;
  border-color: transparent;
}
.cursor.drag:before {
  content: "\e658";
  font-family: "Themify";
  font-size: 20px;
  color: #fff;
}
.line {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* ======= For Images Reveal Effect style ======= */
.reveal-effect {
  float: left;
  position: relative;
}
.reveal-effect.animated:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: 1s reveal linear forwards;
  -webkit-animation-duration: 1s;
  z-index: 1;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.reveal-effect.animated > * {
  animation: 1s reveal-inner linear forwards;
}
@-webkit-keyframes reveal {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 0;
    width: 100%;
  }
  51% {
    left: auto;
    right: 0;
  }
  100% {
    left: auto;
    right: 0;
    width: 0;
  }
}
@-webkit-keyframes reveal-inner {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    visibility: hidden;
    opacity: 0;
  }
  51% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
  .cursor {
    display: none;
  }

}


/* ======= Text Animation style ======= */
.splitting.animated .char {
    -webkit-animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
    animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
    -webkit-animation-delay: calc(30ms * var(--char-index));
    animation-delay: calc(30ms * var(--char-index));
}
.splitting .whitespace {
    width: 10px;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.splitting.txt.animated .char {
    -webkit-animation: fadeIn 0.3s cubic-bezier(0.3, 0, 0.7, 1) both;
    animation: fadeIn 0.3s cubic-bezier(0.3, 0, 0.7, 1) both;
    -webkit-animation-delay: calc(10ms * var(--char-index));
    animation-delay: calc(10ms * var(--char-index));
}
.splitting.txt .whitespace {
    width: 5px;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* ======= For Images Imago Effect style ======= */
.imago {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}
.imago.animated {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


