{% extends 'portfolio/ui/parts/base.html' %}
{% block head %}
{% endblock %}
{% block content %}
<!-- Portfolio Page  -->
    <section class="section-padding portfolio-page">
        <div class="container">
                <div class="col-md-12">
                    <h1 class="wow py-4" data-splitting>{{certefication.name}}</h1>
                    <img src="{{certefication.image.url}}" loading="lazy" alt="{{certefication.name}}">
                    <p class="mt-45 wow fadeInUp" data-wow-delay=".1s">{{certefication.content | safe}}</p>
                    {% if certefication.date %}
                    <p class="mt-45 wow fadeInUp" data-wow-delay=".2s"><span>Date : </span>{{certefication.date}}</p>
                    {% endif %}
                    {% if certefication.client %}
                    <p class="wow fadeInUp" data-wow-delay=".3s"><span>Client : </span>{{certefication.client}}</p>
                    {% endif %}
                    {% if certefication.technologies %}
                    <p class="wow fadeInUp" data-wow-delay=".3s"><span>Technologies : </span>{{certefication.technologies}}</p>
                    {% endif %}
                    {% if certefication.live %}
                    <a href="certefication.live"><p class="wow fadeInUp" data-wow-delay=".3s"><span>Live link : </span><a href="{{certefication.live}}" target="_blank">{{certefication.live}}</a></p></a>
                    {% endif %}
                </div>
        </div>
    </section>
    {% if previous_certefication or next_certefication %}
    <!-- Next & Prev -->
    <section class="nex-prv">
        <div class="container">
            <div class="row">
              {% if previous_certefication %}
                <div class="col-md-5 rest" style="margin: auto">
                    <div class="prv">
                      <a href="{% url 'certefication_details' certefication.slug %}">
                        <div class="img bg-img" data-background="{{previous_certefication.image.url}}">
                            <div class="text-left ontop">
                                <h5>{{previous_certefication.name}}</h5> <span class="sub-title mb-0 mt-10">Prev certefication</span>
                            </div>
                            <div class="overly"></div>
                        </div>
                      </a>
                    </div>
                </div>
                {% else %}
                <div class="col-md-5 rest" style="margin: auto">
                    <div class="nxt">
                        <div class="img bg-img">
                            <div class="text-right ontop">
                                <h5>No prev certefication</h5> <span class="sub-title mb-0 mt-10">Prev certefication</span>
                            </div>
                            <div class="overly"></div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-md-2 text-center rest" style="margin: auto">
                    <a href="/certefications/" class="all-works d-flex align-items-center"> <span class="icon full-width ti-layout-grid3"></span> </a>
                </div>
                {% if next_certefication %}

                <div class="col-md-5 rest" style="margin: auto">
                    <div class="nxt">
                      <a href="/certefication/{{next_certefication.slug}}">
                        <div class="img bg-img" data-background="{{next_certefication.image.url}}">
                            <div class="text-right ontop">
                                <h5>{{next_certefication.name}}</h5> <span class="sub-title mb-0 mt-10">Next certefication</span>
                            </div>
                            <div class="overly"></div>
                        </div>
                      </a>
                    </div>
                </div>
                {% else %}
                <div class="col-md-5 rest" style="margin: auto">
                    <div class="nxt">
                        <div class="img bg-img">
                            <div class="text-right ontop">
                                <h5>No next certefication</h5> <span class="sub-title mb-0 mt-10">Next certefication</span>
                            </div>
                            <div class="overly"></div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}

{% block script %}
{% endblock %}
