{% extends 'portfolio/ui/parts/base.html' %}
{% block head %}
{% endblock %}
{% block content %}


<section class="portfolio section-padding">
        <div class="container">
            <div class="row mb-45">
                <div class="col-md-4">
                    <h6 class="wow words chars splitting animated" data-splitting="" style="--word-total: 2; --char-total: 8; visibility: visible;">
                      {% if config.team_Portfolio == True %}
                          CHECK OUT OUR certefications
                      {% else %}
                          CHECK OUT MY certefications
                      {% endif %}
                    </h6>
                    <h1 class="wow words chars splitting animated" data-splitting="" style="--word-total: 1; --char-total: 9; visibility: visible;">
                        Certefications 
                    </h1>
                </div>
                <div class="col-md-7 offset-md-1 mt-45">
                    <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                      {% if config.team_Portfolio == True %}
                          Explore our diverse certefications, showcasing our expertise and commitment to delivering high-quality solutions to our clients.
                      {% else %}
                          Welcome to my certefications! Here you can explore a collection of my certefications that highlight my skills and experience, representing my dedication to delivering exceptional results.
                      {% endif %}
                    </p>
                </div>
            </div>
            <div class="row">

              {% for certefication in certefications %}
                <div class="col-md-4">
                    <div class="item mb-30">
                        <a href="{% url 'certefication_details' certefication.slug %}">
                            <div class="img-block">
                                <div class="wrapper-img"> <img src="{{certefication.image.url}}" class="img-fluid"> </div>
                                <div class="title-block">
                                    <h4>{{certefication.name}}</h4>
                                    <p>{{certefication.institution}}</p>
                                    <p>{{certefication.date}}</p>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
              {% endfor %}



            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
{% endblock %}
