{% extends 'portfolio/ui/parts/base.html' %}
{% block head %}
{% endblock %}
{% block content %}
<!-- Portfolio Page  -->
    <section class="section-padding portfolio-page">
        <div class="container">
                <div class="col-md-12">
                    <h6 class="wow" data-splitting>{{project.category}}</h6>
                    <h1 class="wow" data-splitting>{{project.name}}</h1>
                    {% if project.video %}
                    <div class="", style="width: 100%; display: block; margin: auto">
                      <iframe height="500" width="100%" src="{{project.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    {% else %}
                    {% if project_images %}
                    <div class="col-md-12">
                        <!-- Images -->
                        <div class="row">
                            <div class="col-md-12 gallery-item">
                                <div class="owl-carousel owl-theme text-center">

                                  {% for project_image in project_images %}
                                    <div class="item">
                                        <div class="gallery-item-inner">
                                            <a href="{{project_image.image.url}}" title="" class="img-zoom">
                                                <div class="gallery-box">
                                                    <div class="gallery-img"> <img src="{{project_image.image.url}}" class="img-fluid mx-auto d-block" alt=""> </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                  {% endfor %}
                                  <div class="item">
                                      <div class="gallery-item-inner">
                                          <a href="{{project.image.url}}" title="" class="img-zoom">
                                              <div class="gallery-box">
                                                  <div class="gallery-img"> <img src="{{project.image.url}}" class="img-fluid mx-auto d-block" alt=""> </div>
                                              </div>
                                          </a>
                                      </div>
                                  </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}

                    <p class="mt-45 wow fadeInUp" data-wow-delay=".1s">{{project.content | safe}}</p>
                    {% if project.date %}
                    <p class="mt-45 wow fadeInUp" data-wow-delay=".2s"><span>Date : </span>{{project.date}}</p>
                    {% endif %}
                    {% if project.client %}
                    <p class="wow fadeInUp" data-wow-delay=".3s"><span>Client : </span>{{project.client}}</p>
                    {% endif %}
                    {% if project.technologies %}
                    <p class="wow fadeInUp" data-wow-delay=".3s"><span>Technologies : </span>{{project.technologies}}</p>
                    {% endif %}
                    {% if project.live %}
                    <a href="project.live"><p class="wow fadeInUp" data-wow-delay=".3s"><span>Live link : </span>{{project.live}}</p></a>
                    {% endif %}
                </div>

                {% if project.video %}
                {% if project_images %}
                <div class="col-md-12">
                    <!-- Images -->
                    <div class="row">
                        <div class="col-md-12 gallery-item">
                            <div class="owl-carousel owl-theme text-center">

                              {% for project_image in project_images %}
                                <div class="item">
                                    <div class="gallery-item-inner">
                                        <a href="{{project_image.image.url}}" title="" class="img-zoom">
                                            <div class="gallery-box">
                                                <div class="gallery-img"> <img src="{{project_image.image.url}}" class="img-fluid mx-auto d-block" alt=""> </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                              {% endfor %}
                              <div class="item">
                                  <div class="gallery-item-inner">
                                      <a href="{{project.image.url}}" title="" class="img-zoom">
                                          <div class="gallery-box">
                                              <div class="gallery-img"> <img src="{{project.image.url}}" class="img-fluid mx-auto d-block" alt=""> </div>
                                          </div>
                                      </a>
                                  </div>
                              </div>

                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}

        </div>
    </section>
    {% if previous_project or next_project %}
    <!-- Next & Prev -->
    <section class="nex-prv">
        <div class="container">
            <div class="row">
              {% if previous_project %}
                <div class="col-md-5 rest" style="margin: auto">
                    <div class="prv">
                      <a href="/project/{{previous_project.slug}}">
                        <div class="img bg-img" data-background="{{previous_project.image.url}}">
                            <div class="text-left ontop">
                                <h5>{{previous_project.name}}</h5> <span class="sub-title mb-0 mt-10">Prev Project</span>
                            </div>
                            <div class="overly"></div>
                        </div>
                      </a>
                    </div>
                </div>
                {% else %}
                <div class="col-md-5 rest" style="margin: auto">
                    <div class="nxt">
                        <div class="img bg-img">
                            <div class="text-right ontop">
                                <h5>No prev project</h5> <span class="sub-title mb-0 mt-10">Prev Project</span>
                            </div>
                            <div class="overly"></div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-md-2 text-center rest" style="margin: auto">
                    <a href="/projects/" class="all-works d-flex align-items-center"> <span class="icon full-width ti-layout-grid3"></span> </a>
                </div>
                {% if next_project %}

                <div class="col-md-5 rest" style="margin: auto">
                    <div class="nxt">
                      <a href="/project/{{next_project.slug}}">
                        <div class="img bg-img" data-background="{{next_project.image.url}}">
                            <div class="text-right ontop">
                                <h5>{{next_project.name}}</h5> <span class="sub-title mb-0 mt-10">Next Project</span>
                            </div>
                            <div class="overly"></div>
                        </div>
                      </a>
                    </div>
                </div>
                {% else %}
                <div class="col-md-5 rest" style="margin: auto">
                    <div class="nxt">
                        <div class="img bg-img">
                            <div class="text-right ontop">
                                <h5>No next project</h5> <span class="sub-title mb-0 mt-10">Next Project</span>
                            </div>
                            <div class="overly"></div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}

{% block script %}
{% endblock %}
