{% extends 'portfolio/ui/parts/base.html' %}
{% block head %}
{% endblock %}
{% block content %}
<section class="services section-padding">
        <div class="container">
            <div class="row mb-45">
                <div class="col-md-4">
                    <h6 class="wow words chars splitting animated" data-splitting="" style="--word-total: 4; --char-total: 20; visibility: visible;">
                      {% if config.team_Portfolio == True %}
                      SERVICES THAT WE PROVIDE
                      {% else %}
                      SERVICES THAT I PROVIDE
                      {% endif %}
                    </h6>
                    <h1 class="wow words chars splitting animated" data-splitting="" style="--word-total: 1; --char-total: 8; visibility: visible;">
                      Services
                    </h1>
                </div>
                <div class="col-md-7 offset-md-1 mt-45">
                    <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                      {% if config.team_Portfolio == True %}
                          We offer a wide range of services to help businesses achieve their goals. Our team provides solutions tailored to your specific needs.
                      {% else %}
                          As a professional, I offer a variety of services to help clients achieve their objectives. I provide high-quality solutions to meet your requirements.
                      {% endif %}
                    </p>
                </div>
            </div>
            <div class="row">

              {% for service in services %}
                <div class="col-md-4">
                    <a href="/service/{{service.slug}}">
                        <div class="item mb-30">
                            <img src="{{service.icon.url}}" alt="service" style="margin: auto">
                            <h5>{{service.name}}</h5>
                            <p>{{service.short_description}}</p>
                            <div class="numb">{{ forloop.counter }}</div>
                        </div>
                    </a>
                </div>
              {% endfor %}
            </div>
        </div>
</section>
{% endblock %}

{% block script %}
{% endblock %}
